.add-blog {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  &__btn {
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 0px 24px;
    margin: 12px 0px;
  }
}

.no-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
}

.blog-list {
  flex-direction: row;
  display: flex;
}

@media (max-width: 991.98px) {
  .blog-list {
    flex-direction: column;
  }

  .no-data {
    min-height: 200px;
  }
}