<div class="blog pb-3">
  <div class="blog--header">
    <p class="blog--header__title pl-2 mb-0">{{headingTitle}}</p>
  </div>
  <div class="blog--body px-5 py-4 my-2 pb-4 mx-2">
    <form [formGroup]="blogForm" novalidate
      [ngClass]="{'was-validated': (blogForm.touched || blogForm.dirty) && !blogForm.valid }">
      <div class="form-group row mb-2">
        <label class="col-1 col-form-label col-form-label-sm flex px-0 pt-0" for="title">Title</label>
        <div class="col-11">
          <input type="text" [formControl]="titleControl" class="form-control form-control-sm" id="title"
            placeholder="Title of the post" required />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-1 col-form-label col-form-label-sm px-0 pt-0" for="text">Text</label>
        <div class="col-11">
          <textarea type="text" [formControl]="textControl" class="form-control form-control-sm blog--body__textarea"
            id="text" placeholder="Text of the post" required></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="blog--footer">
    <button type="submit" class="mx-4 px-4 blog--footer__btn" (click)="submit()">Post</button>
    <button class="mx-4 px-4 blog--footer__btn" (click)="cancel()">Cancel</button>
  </div>
</div>
