.create-blog-button {
  background-color: black;
  color: white;
  font-size: 12px;
}

.blog-list {
  flex-direction: row;
  display: flex;
}

@media (max-width: 991.98px) {
  .blog-list {
    flex-direction: column;
  }
}